<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      <a href="https://github.com/sprestrelski">
      <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> 
      <span class="username">sprestrelski</span></a><br>
      <a href="https://www.linkedin.com/in/samanthaprestrelski/">
      <svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> 
      <span class="username">samanthaprestrelski</span></a>
      
      </div>
      <div class="footer-col">
        <p>{{ site.madewith | escape }}</p>
      </div>
    </div>

  </div>

</footer>
